body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#1c7087,#c42851);
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    
  }
  
  
header{
    padding: 1rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
#taskForm {
    display: flex;
    
} 
#prioritySelect{
    appearance: none;
    border:none;
    outline: none;
    background-color: rgb(43, 110, 169);
    border-radius: 1rem;
}
input, button {
    appearance: none;
    border:none;
    outline: none;
    background-color: rgb(83, 152, 212);
    border-radius: 1rem;
    flex: 1  1 0%;
}
header h1 {
    font-size: 3.5rem;
    font-weight: 200;
    color: rgb(11, 11, 12);
    margin-bottom: 2 rem ;
}
main {
    flex: 1 1 0%;
    padding:2rem 1rem ;
    width: 100%;
    margin: 0 auto;
}
.taskList {
    font-size: 3rem;
    font-weight: 250;
    margin-bottom: 1rem;
}
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  select {
    padding: 8px;
    margin-right: 10px;
    flex: 1;
  }
  
  button {
    padding: 8px 20px;
    background-color: #031a33;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
